body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Custom CSS for Header/Nav Bar */

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: .5vh;
  margin-bottom: .5vh;
  /* adjust as needed */
}

.logo {
  /* optional styling for the logo */
  position: fixed;
  top: 1vh;
  left: 2vmin;
}

.menu-list {
  width: 80vw;
  display: flex;
  list-style: none;
  margin-left: 15vw;
  margin-right: 10vw;
  padding: 0;
}

.menu-item {
  position: relative;
  padding: 3vw;
  /* required for the dropdown to work */
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  /* hide by default */
}

.menu-item:hover .dropdown-menu {
  display: block;
  /* show on hover */
}

/* Hamburger menu */
.hamburger {
  display: none;
  width: 30px;
  height: 30px;
  position: fixed;
  top: 45px;
  right: 1vh;
  cursor: pointer;
  margin-right: 4vw;
}

.hamburger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #333;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.hamburger span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.hamburger span:nth-child(3) {
  bottom: 0;
}

.hamburger.open span:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

.mobile-menu-panel {
  position: fixed;
  top: 10%;
  right: -100%;
  width: 70%;
  height: 60%;
  background-color: #000000;
  transition: all 0.3s ease-out;
}

.mobile-menu-panel.open {
  right: 0;
}







/* Content */ 

.content{
  z-index: 9999;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}








/* Sitemap */

.sitemap{

}




/* Footer */
footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ff00c8;
  background-attachment: fixed;
  font-size: 14px;
  color: #ffffff;
}

.left {
  display: flex;
  align-items: center;
}

.left ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0 0 0 20px;
  padding: 0;
}

.left ul li {
  margin-right: 20px;
}

.left ul li:last-child {
  margin-right: 0;
}

.left ul li a {
  color: #ffffff;
  text-decoration: none;
  padding-right: 2vw;
}

.right {
  display: flex;
  align-items: center;
}

.right img {
  height: 40px;
  margin-right: 20px;
}

.right ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.right ul li {
  margin-right: 20px;
}

.right ul li:last-child {
  margin-right: 0;
}

.right ul li a {
  color: #666;
  text-decoration: none;
}

.fa {
  font-size: 20px;
}



/* Mobile */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .logo {
    max-width: 90px;
  }
  .menu-list{
    display:none
  }
  nav {
    max-height: 15vh;
    position: fixed;
    top: 80px;
    left: -100%;
    width: 100%;
    height: 100%;
    /*padding: 80px 20px 20px;
    background-color: #ffffff;*/
    transition: all 0.3s ease-in-out;
  }
  nav.active {
    left: 0;
  }
  nav ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  nav ul li {
    margin: 10px 0;
  }
}